/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('https://ii1.pepperfry.com/media/catalog/product/r/o/800x880/royal-wing-chair-in-blue-color-by-dreamzz-furniture-royal-wing-chair-in-blue-color-by-dreamzz-furnit-6hcjya.jpg');
    background-size: cover;
    background-position: center center;
}